{% extends "base.html" %}
{% load staticfiles %}


{% block title %}
    新增
{% endblock %}

{% block csslink %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    <style>
        label {
            font-size: 1rem;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="mt-4 mb-2 mr-2 ml-2">
            <h1 class="h3 mb-0 text-gray-800">添加</h1>
            <p class="mb-1">新增東西</p>
        </div>


        <!-- 添加商品 Card -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4 mt-4">
                    <!-- Card Header - Accordion -->
                    <a href="#product" class="d-block card-header py-3" data-toggle="collapse" role="button"
                       aria-expanded="true">
                        <h6 class="m-0 font-weight-bold text-lg text-primary">商品</h6>
                    </a>

                    <div class="collapse show" id="product" style="">
                        <div class="card-body">
                            <form id="add_product" class="validate-form" method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <!-- max='618107190088-1' -->
                                    <div class="col">
                                        <label class="text-gray-900">商品編碼</label>
                                        <input type="text" name="product" id="inputproduct" class="form-control"
                                               placeholder="MA HANG">
                                    </div>
                                    <div class="col">
                                        <label class="text-gray-900">種類</label>
                                        <select name="type" class="form-control">
                                            {% for n in type_of %}
                                                <option>{{ n.type_of }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col">
                                        <!-- max = '18690'=>'BI TRANG DEN' -->
                                        <label class="text-gray-900">顏色</label>
                                        <input type="text" name="color" class="form-control"
                                               placeholder="MAU">
                                    </div>
                                    <div class="col">
                                        <label class="text-gray-900">單價</label>
                                        <input type="number" name="price" class="form-control"
                                               placeholder="GIA">
                                    </div>
                                    <div class="field-add_date col">
                                        <label for="id_add_date" class="text-gray-900">日期</label>
                                        <input type="text" name="add_date" id="id_add_date"
                                               class="vDateField form-control col-sm-auto" size="10" required="">
                                    </div>
                                </div>

                                <div id="size" class="row">

                                    <script>
                                        let label_text = [" _ XS", " _ S", " _ M", " _ L", " _ XL", " _ XXL", " _ 3XL", " _ 4XL", " _ 5XL", " _ 6XL"]

                                        let div = $("#size");
                                        $(div).append('<div id="size_' + 23 + '" class="col text-center"></div>');
                                        let size = $("#size_" + 23);
                                        $(size).append('<label for="type" class="text-gray-900">F size</label>');
                                        $(size).append('<input type="number" name="size_23" class="form-control" placeholder="0">');

                                        for (let i = 25; i < 35; i++) {
                                            $(div).append('<div id="size_' + i + '" class="col text-center"></div>');
                                            size = $("#size_" + i);
                                            let text = i + label_text[i - 25];
                                            $(size).append('<label for="type" class="text-gray-900">' + text + '</label>');
                                            let name = "size_" + i
                                            $(size).append('<input type="number" name=' + name + ' class="form-control" placeholder="0">');
                                        }
                                    </script>

                                    <div class="col-sm-auto">
                                        <br>
                                        <input type="submit" name="product_submit" class="btn btn-primary" value="送出">
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 添加種類 Card -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#type" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button"
                       aria-expanded="false">
                        <h6 class="m-0 font-weight-bold text-lg text-primary">種類</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="type">
                        <div class="card-body">

                            <form id="add_type" class="validate-form" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <label class="col-sm-auto col-form-label text-gray-900 text-lg">添加種類(不要重複)：</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="type_of" class="form-control">
                                    </div>
                                    <div class="col-sm-auto">
                                        <input type="submit" name="type_submit" class="btn btn-primary" value="送出">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 添加店員 Card -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#clerk" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-lg text-primary">店員</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="clerk">
                        <div class="card-body">

                            <form id="add_clerk" class="validate-form" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <label class="col-sm-auto col-form-label text-gray-900 text-lg">店員名字(不能重複)：</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="clerk" class="form-control">
                                    </div>
                                    <div class="col-sm-auto">
                                        <input type="submit" name="clerk_submit" class="btn btn-primary" value="送出">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script>
        /*========預設今日日期=========*/
        let Today=new Date();
        $date = Today.getFullYear()+ "/" + (Today.getMonth()+1) + "/" + Today.getDate()
        $("#id_add_date").attr("value", $date);

        /*=====================[ Validate ]=====================*/
        let $inputs = $('#add_product .form-control');

        $('#add_product').on('submit', function (e) {
            {#$inputs.each(function () {#}
            {#    let $input = $(this);#}
            {#    console.log($input);#}
            {#    if ($input.val() == "") {#}
            {#        alert($input.attr('name') + '不能不填!');#}
            {#        e.preventDefault();#}
            {#        return false;#}
            {#    }#}

        });
    </script>
{% endblock %}

{% block tailjslink %}
    <script src="{% static "vendor/bootstrap/js/bootstrap3-typeahead.min.js" %}"></script>
    <script type="text/javascript" id="django-admin-form-add-constants" src="{% static "admin/js/change_form.js" %}"
            data-model-name="all_product"></script>
    <script type="text/javascript" id="django-admin-prepopulated-fields-constants"
            src="{% static "admin/js/prepopulate_init.js" %}" data-prepopulated-fields="[]"></script>
{% endblock %}