{% extends "menu.html" %}
{% load staticfiles %}


{% block title %}
    新增
{% endblock %}

{% block csslink %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    <style>
        label {
            font-size: 1rem;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="mt-4 mb-2 mr-2 ml-2">
            <h1 class="h3 mb-0 text-gray-800">添加</h1>
            <p class="mb-1">新增東西</p>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4 mt-4">
                    <!-- Card Header - Accordion -->
                    <a href="#product" class="d-block card-header py-3" data-toggle="collapse" role="button"
                       aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">商品</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="product" style="">
                        <div class="card-body">
                            <form id="add_product" class="validate-form" method="POST">
                                {% csrf_token %}
                                <div class="form-group row ">
                                    <!-- max='618107190088-1' -->
                                    <div id="div_pdt" class="col">
                                        <label for="inputproduct" class="text-gray-900">商品編碼</label>
                                        <input type="text" name="product" id="inputproduct" class="form-control"
                                               placeholder="MA HANG">
                                    </div>
                                    <div id="" class="col">
                                        <label for="type" class="text-gray-900">種類</label>
                                        <div class="row col">
                                            <select name="type" id="input_type" class="col-sm-10 form-control">
                                                {% for n in type_of %}
                                                    <option>{{ n.type_of }}</option>
                                                {% endfor %}
                                            </select>
                                            {#                                            <a class="col-sm-1 related-widget-wrapper-link add-related"#}
                                            {#                                               id="add_id_type_of" href="{% url "add_type" %}" title="新增其它 type of"><img#}
                                            {#                                                    src="admin/img/icon-addlink.svg" alt="新增"></a>#}
                                            <a class="related-widget-wrapper-link add-related" id="add_id_type_of"
                                               href="{% url "add_type" %}"
                                               title="新增其它 type of"><img src="{% static "admin/img/icon-addlink.svg" %}"
                                                                         alt="新增"></a>
                                        </div>
                                    </div>

                                    <div id="div_color" class="col">
                                        <!-- max = '18690'=>'BI TRANG DEN' -->
                                        <label for="type" class="text-gray-900">顏色</label>
                                        <input type="text" name="color" id="inputcolor" class="form-control"
                                               placeholder="MAU">
                                    </div>
                                    <div class="col">
                                        <label for="type" class="text-gray-900">單價</label>
                                        <input type="number" name="price" id="inputprice" class="form-control"
                                               placeholder="GIA">
                                    </div>
                                    <div class="field-add_date col">
                                        <label for="id_add_date" class="text-gray-900">日期</label>
                                        <input type="text" name="add_date" id="id_add_date"
                                               class="vDateField form-control" size="10" required="">
                                    </div>
                                </div>

                                <!-- 種類彈出式添加 -->
                                <div class="modal fade type_add" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">添加種類</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Modal body text goes here.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="size" class="row">

                                    <script>
                                        let name = [" _ XS", " _ S", " _ M", " _ L", " _ XL", " _ XXL", " _ 3XL", " _ 4XL", " _ 5XL", " _ 6XL"]
                                        for (i = 24; i < 35; i++) {
                                            if (i == 24) {
                                                let div = $("#size");
                                                $(div).append('<div id="size' + 23 + '" class="col text-center"></div>');
                                                let size = $("#size" + 23);
                                                $(size).append('<label for="type" class="text-gray-900">F size</label>');
                                                $(size).append('<select name="size" id="inputsize' + 23 + '" class="form-control">');
                                                let count = $("#inputsize" + 23);
                                                for (j = 0; j < 11; j++) {
                                                    $("<option></option>").text(j).appendTo(count);
                                                }
                                            } else {
                                                let div = $("#size");
                                                $(div).append('<div id="size' + i + '" class="col text-center"></div>');
                                                let size = $("#size" + i);
                                                $(size).append('<label for="type" class="text-gray-900">' + i + '</label>');
                                                let text = name[i - 25];
                                                $(size).append('<label for="type" class="text-gray-900">' + text + '</label>');
                                                $(size).append('<select name="size" id="inputsize' + i + '" class="form-control">');
                                                let count = $("#inputsize" + i);
                                                for (j = 0; j < 11; j++) {
                                                    $("<option></option>").text(j).appendTo(count);
                                                }
                                            }
                                        }
                                    </script>
                                    <div class="col-sm-auto">
                                        <input type="submit" name="submit" class="btn btn-primary" value="Submit">
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#clerk" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-gray-600">店員</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="clerk" style="">
                        <div class="card-body">

                            <div class="row">
                                <label for="" class="col-sm-auto col-form-label text-gray-900 text-lg">店員名字(不能重複)：</label>
                                <div class="col-sm-2">
                                    <input type="tel" name="name" class="inputphone form-control">
                                </div>
                                <div class="col-sm-auto">
                                    <input type="submit" name="clerksubmit" class="btn btn-primary" value="送出">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        /*=====================[ Validate ]=====================*/
        let $inputs = $('#add_product .form-control');

        $('#add_product').on('submit', function (e) {
            $inputs.each(function () {
                let $input = $(this);
                console.log($input);
                if ($input.val() == "") {
                    alert($input.attr('name') + '不能不填!');
                    e.preventDefault();
                    return false;
                }
            });

            return true;
        });
    </script>
{% endblock %}

{% block tailjslink %}
    <script src="{% static "vendor/bootstrap/js/bootstrap3-typeahead.min.js" %}"></script>
    <script type="text/javascript" id="django-admin-form-add-constants" src="{% static "admin/js/change_form.js" %}"
            data-model-name="all_product"></script>
    <script type="text/javascript" id="django-admin-prepopulated-fields-constants"
            src="{% static "admin/js/prepopulate_init.js" %}" data-prepopulated-fields="[]"></script>
{% endblock %}