{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- Custom fonts for this template-->
    {% block csslink %}
    {% endblock %}

    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 左邊menu -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- 上方logo -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "index" %}">
            <div class="sidebar-brand-icon mr-2">
                <img src="{% static "img/logo.png" %}" height="48px">
            </div>

            <img class="sidebar-brand-text" src="{% static "img/Phale.png" %}" width="112px">
{#            <div class="sidebar-brand-text mx-3">PhaLe<sup><i class="far fa-registered"></i></sup></div>#}
{#            <div class="sidebar-brand-text mx-3">PhaLe<sup>®</sup></div>#}
        </a>

        {% if user.is_authenticated %}
            <!-- next={request.path}可以讓使用者在登出之後，回到當初同一個畫面 -->
            <li class="nav-item pb-2">
                <span class="pl-3 text-success font-weight-bold">{{ user.get_username }}</span>
                <a class="pl-3 text-secondary" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            </li>
        {% else %}
            <!-- next={request.path}可以讓使用者在登入成功之後，回到當初同一個畫面 -->
            <li class="nav-item">
                <a class="pl-3 text-success font-weight-bold" href="{% url 'login'%}?next={{request.path}}">Login</a>
            </li>
        {% endif %}


        <!-- 分隔線 -->
        <hr class="sidebar-divider my-0">


        <!-- index -->
        <li class="nav-item">
            <a class="nav-link" href="{% url "index" %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <!-- 搜尋 -->
        <div class="sidebar-heading">
            Tìm kiếm
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{% url "storage" %}">
                <i class="fas fa-fw fa-search"></i>
                <span>vẫn còn trong kho</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url "already_sold" %}">
                <i class="fas fa-fw fa-table"></i>
                <span>Đã bán</span></a>
        </li>

        <!-- 分隔線 -->
        <hr class="sidebar-divider my-0">

        <!-- 售出表單 -->
        <li class="nav-item">
            <a class="nav-link" href="{% url "sold_today" %}">
                <i class="fas fa-fw fa-pen"></i>
                <span>sold today</span></a>
        </li>

        <!-- 添加資料頁 -->
        <li class="nav-item">
            <a class="nav-link" href="{% url "add_new" %}">
                <i class="fas fa-fw fa-lock"></i>
                <span>添加商品或店員</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- 收menu的小按鈕 -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class=" mr-2 ml-2">

            {% block content %}
            {% endblock %}

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Custom scripts for all pages-->
<script src="{% static "js/sb-admin-2.min.js" %}"></script>

{% block tailjslink %}
{% endblock %}

</body>

</html>